:root {
    --white: hsl(0, 0%, 100%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
}

html {
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Plus Jakarta Sans Italic';
    src: url('./assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf');
    font-weight: 500 700;
}

@font-face {
    font-family: 'Plus Jakarta Sans';
    src: url('./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
    font-weight: 500 700;
}


body {
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-100);
}

main {
    width: clamp(15rem, 80%, 40rem);
    background-color: var(--white);
    padding: 3rem 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
}

.error-message {
    display: none;
    color: var(--red);
    margin-top: 0.3rem;
}
